In [ ]:
#install package to connect with mysql
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 659 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

Importing the libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
from sklearn.utils import shuffle
import pymysql
import datetime
from sqlalchemy import create_engine

Import Data

In [ ]:
#database connection
connection = pymysql.connect(host="data.sosialoka.id", user="fstat", passwd="fstatxsosialoka", database="datasosialoka")
cursor = connection.cursor()
# Query for creating table
pull_data = """SELECT * FROM `tblclearance_datasample`"""
query_col = "SHOW COLUMNS FROM `tblclearance_datasample`"

In [ ]:
#call table
cursor.execute(pull_data)
data = cursor.fetchall()
cursor.execute(query_col)
col_name = cursor.fetchall()

In [ ]:
#set column name as header
col_name = pd.DataFrame(col_name)[0]

In [ ]:
#build dataset
df_data = pd.DataFrame(data,columns=col_name)

In [ ]:
df_data.head()

0     video_id channel_id  ... aggregator_updated_at       manual_update
0  --epXyCzMcE       None  ...                  None 2021-12-14 14:31:55
1  --_mwdABQ5U       None  ...                  None 2021-11-28 05:30:44
2  -5_Li5TMYHI       None  ...                  None 2021-12-06 16:13:17
3  -GsTOFWvQVg       None  ...                  None 2021-12-14 14:10:13
4  -jz7dWdO4-U       None  ...                  None 2021-12-14 14:11:29

[5 rows x 51 columns]

Data Preprocessing

In [ ]:
# statistics of the data
df_data.describe()

0         is_clear     peak_views  ...  total_revenue_until_today     ugc
count  1015.000000    1015.000000  ...                     1015.0  1015.0
mean      0.493596   22674.936946  ...                        0.0     0.0
std       0.500205   31118.436082  ...                        0.0     0.0
min       0.000000       0.000000  ...                        0.0     0.0
25%       0.000000    1802.000000  ...                        0.0     0.0
50%       0.000000   12984.000000  ...                        0.0     0.0
75%       1.000000   30224.500000  ...                        0.0     0.0
max       1.000000  264535.000000  ...                        0.0     0.0

[8 rows x 29 columns]

In [ ]:
# Get a series of unique values in column 'Channel' of the dataframe
uniqueValues = df_data['channel'].unique()
# print('Unique elements in column "Channel" ')
# print(uniqueValues)

In [ ]:
result = pd.DataFrame()
for i in uniqueValues:
  df_1=df_data[df_data['channel']==i]
  C = df_1['avg_views'].mean()
  m = df_1['peak_views'].quantile(0.90)
  q_1 = df_1.copy().loc[df_1['peak_views'] >= m]
  v = q_1['peak_views']
  R = q_1['avg_views']
  q_1['score'] =   (v/(v+m) * R) + (m/(m+v) * C)
  q_1 = q_1.sort_values('score', ascending=False)
  result = pd.concat([result,q_1])

In [ ]:
#select realted columns
cols = ['channel','language','mood_song','concept','genre','outfit','song_type','score']
df_result = result[cols]
df_result.head()
#df_result = df_result_edit.groupby('channel')[['score']].max().reset_index()
#df_result = df_result_edit[['channel','language','mood_song','concept','genre','outfit','song_type']].groupby('channel')[['score']].max().reset_index()
#df_result.head()

0           channel   language  ... song_type         score
52   Felix Official  indonesia  ...   recycle  36573.125531
979  Felix Official  indonesia  ...   recycle  32633.327159
189  Felix Official  indonesia  ...     viral  20933.881928
679  Felix Official  indonesia  ...   recycle  12151.242074
926  Felix Official  indonesia  ...   recycle  10700.339665

[5 rows x 8 columns]

In [ ]:
top_5=df_result[['channel','language','mood_song','concept','genre','outfit','song_type','score']].groupby('channel').head(5)
display(top_5)

0                 channel   language  ... song_type         score
52         Felix Official  indonesia  ...   recycle  36573.125531
979        Felix Official  indonesia  ...   recycle  32633.327159
189        Felix Official  indonesia  ...     viral  20933.881928
679        Felix Official  indonesia  ...   recycle  12151.242074
926        Felix Official  indonesia  ...   recycle  10700.339665
..                    ...        ...  ...       ...           ...
242         True Sumatera  indonesia  ...   recycle  20865.000000
349   Febe Music Official  indonesia  ...   recycle   2713.000000
738  Kalia Siska Official     daerah  ...   recycle   2074.813884
806           Era Syaqira        xxx  ...       xxx   2786.000000
989       MAHA LAJU MUSIK  indonesia  ...   recycle   1492.000000

[78 rows x 8 columns]

In [ ]:
final = top_5[['channel','language','mood_song','concept','genre','outfit','song_type']].groupby('channel').agg(lambda x:x.value_counts().index[0])
final.reset_index(inplace=True)
final

0                    channel   language  ...           outfit song_type
0                             indonesia  ...     non kerudung   recycle
1         Angga Candra Music  indonesia  ...  non berkerudung   recycle
2               CHARLYKUSTIK  indonesia  ...  non berkerudung   recycle
3              DANGDUTERS ID  indonesia  ...  non berkerudung   recycle
4             Delisa Herlina  indonesia  ...  non berkerudung   recycle
5     Dengerin Musik Channel  indonesia  ...      berkerudung   recycle
6                Era Syaqira        xxx  ...              xxx       xxx
7                 Fahmi Aziz  indonesia  ...  non berkerudung   recycle
8        Febe Music Official  indonesia  ...  non berkerudung   recycle
9             Felix Official  indonesia  ...  non berkerudung   recycle
10              Ipank Yuniar  indonesia  ...  non berkerudung   recycle
11   Izzamedia Entertainment  indonesia  ...  non berkerudung   recycle
12      Kalia Siska Official     daerah  ...  non berkerudung   recycle
13    Lia Magdalena Official  indonesia  ...  non berkerudung   recycle
14           MAHA LAJU MUSIK  indonesia  ...  non berkerudung   recycle
15              Michela Thea  indonesia  ...  non berkerudung   recycle
16           Nabila Maharani  indonesia  ...  non berkerudung   recycle
17             Pribadi Hafiz  indonesia  ...  non berkerudung   recycle
18               Regita Echa  indonesia  ...      berkerudung   recycle
19    Remember Entertainment  indonesia  ...  non berkerudung     viral
20        SIHO LIVE ACOUSTIC     daerah  ...  non berkerudung   recycle
21             Sanca Records  indonesia  ...  non berkerudung   recycle
22        Sasa Tasia Channel  indonesia  ...  non berkerudung   recycle
23  Tami Aulia Live Acoustic  indonesia  ...  non berkerudung   recycle
24            Tereza Fahlevi  indonesia  ...  non berkerudung   recycle
25             True Sumatera  indonesia  ...  non berkerudung   recycle
26    Umimma Khusna Official  indonesia  ...      berkerudung   recycle
27         Willy Anggawinata  indonesia  ...  non berkerudung   recycle
28                     inema  indonesia  ...  non berkerudung   recycle
29       parmitu anduk leher  indonesia  ...  non berkerudung   recycle

[30 rows x 7 columns]

In [ ]:
final['time_stamp'] = datetime.datetime.now()

In [ ]:
final.head()

0             channel   language  ... song_type                 time_stamp
0                      indonesia  ...   recycle 2021-12-18 11:20:03.482405
1  Angga Candra Music  indonesia  ...   recycle 2021-12-18 11:20:03.482405
2        CHARLYKUSTIK  indonesia  ...   recycle 2021-12-18 11:20:03.482405
3       DANGDUTERS ID  indonesia  ...   recycle 2021-12-18 11:20:03.482405
4      Delisa Herlina  indonesia  ...   recycle 2021-12-18 11:20:03.482405

[5 rows x 8 columns]

In [ ]:
# (host="data.sosialoka.id", user="fstat", passwd="fstatxsosialoka", database="datasosialoka")

# Credentials to database connection
hostname="data.sosialoka.id"
dbname="datasosialoka"
uname="fstat"
pwd="fstatxsosialoka"

# Create dataframe
df = final

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
#                       .format(user="root", pw="sql@123", 
#                       db="irisdb"))

# Convert dataframe to sql table                                   
df.to_sql('tblclearance_datarecomendation', con = engine, if_exists = 'append', chunksize = 1000,index=False)